.u-section-1 .u-sheet-1 {
  min-height: 580px;
}

.u-section-1 .u-image-1 {
  width: 577px;
  height: 577px;
  margin: 1px auto 1px 261px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 143px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}